<h3>Sign Up</h3>
<hr>

<form class="form" (ngSubmit)="onUserRegister()">
    <div class="mb-3">
        <label for="userid" class="form-label">
            User Id:
        </label>
        <input type="text" class="form-control" id="userid" [(ngModel)]="userId" name="userId">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">
            Name:
        </label>
        <input type="text" class="form-control" id="name" [(ngModel)]="userName" name="userName">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">
            Email: 
        </label>
        <input type="email" class="form-control" id="email" [(ngModel)]="userEmail" name="userEmail">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">
            Password: 
        </label>
        <input type="password" class="form-control" id="password" [(ngModel)]="userPassword" name="userPassword">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
</form>